body{
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section{
    background-color: purple;
    width: 100%;
    border-radius: 1.5rem;
    padding: 5px;
    margin: 20px;
}

a{
    color: white;
    text-decoration: none;
}

.divClass{
    display: flex;
    flex-direction: column;
}

.divClass>ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 15px;
}